p{
    text-align: center;
    color:black;
    text-decoration: underline;
    border-top: 2px solid black;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: white;
    text-align: center;
 }